@model BankManagementSystemMVC.Models.CustomerDoubleView

@{
    ViewData["Title"] = "DeleteCustomerServiceRepresentative";
}

<h3 class="text-danger">Are you sure you want to delete @Model.customer.email</h3>
<div>
    <form asp-action="DeleteCustomer">

        <img src="~/@Model.customer.picture" class="l-25 w-25">
        <input type="hidden" asp-for="customer.id" />
        <div class="form-group">
            <label asp-for="customer.firstName"></label>
            <input asp-for="customer.firstName" class="form-control rounded-pill" />
            <span asp-validation-for="customer.firstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="customer.lastName"></label>
            <input asp-for="customer.lastName" class="form-control rounded-pill" />
            <span asp-validation-for="customer.lastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="customer.email"></label>
            <input asp-for="customer.email" class="form-control rounded-pill" />
            <span asp-validation-for="customer.email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="customer.phoneNumber"></label>
            <input asp-for="customer.phoneNumber" class="form-control rounded-pill" />
            <span asp-validation-for="customer.phoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" id="btnDelete" value="Delete" class="form-control rounded-pill btn btn-danger" />
        </div>
    </form>
</div>